// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override the Tailwind CSS configuration you can do so by following the instructions
// available at https://docs.decidim.org/en/develop/customize/styles.html#_tailwind_css
//
// By default this is empty.


/*custom colors RoadSTEAMer*/

@font-face {
  font-family: 'Liber';
  src: url(/app/views/static/api/docs/assets/webfonts/LiberGrotesqueFamily-SemiBold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}
*{
  font-family: 'Liber' !important;
}



.main-bar__search {
  #form-search_topbar {
    border:2px solid #D04D9C ;
    color:#d04d9c ;
    background-color:black ;
  }
  button {
    svg {
      fill: #d04d9c;
    }
  }
}


h1 {
  font-weight: 500;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

.home__section-title, .home__section-participate-grid__title, .title-decorator, .decorator{
  color: var(--secondary) !important
}

.home__menu
{
  background-color: var(--secondary) !important;
}

.menu-bar__container
{
  background-color: var(--secondary) !important;
}

.menu-bar
{
  background-color: var(--secondary) !important;
}
